.WahFieldset {
  padding: 12px 0;
}

.WahFieldset > fieldset {
  border: none;
}

.WahFieldset > fieldset > legend {
  display: block;
  width: var(--fieldset-width);
  margin: 0 auto 8px;
  font-family: Neuton, serif;
  font-size: 22px;
  font-weight: lighter;
  color: var(--assort-color);
  text-transform: uppercase;
}
