.ChorusFieldset {
  padding: 12px 0;
}

.ChorusFieldset > fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
}

.ChorusFieldset > fieldset > legend {
  display: block;
  width: 100%;
  margin: 0 auto 8px;
  font-family: Neuton, serif;
  font-size: 22px;
  font-weight: lighter;
  color: var(--assort-color);
  text-transform: uppercase;
}
