body {
  min-width: 320px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--gray);
  background-color: var(--black);
}

body.-radial {
  background-image: radial-gradient(50% 50%, circle contain, var(--gray-lighter), var(--transparent));
}

body.-linear {
  background-image: linear-gradient(
    -45deg,
    var(--black),
    var(--gray-deep) 15%,
    var(--gray-lighter) 25%,
    var(--gray-light) 30%,
    var(--black) 40%,
    var(--black) 50%,
    var(--black)
  );
}

noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  font-family: Alike, serif;
  font-size: var(--base-font-size);
  color: var(--assort-color);
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.Application {
  min-width: 1280px; /* for Piano width */
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--assort-color);
  text-decoration: none;
  transition: opacity ease 0.6s;
}

a:hover {
  opacity: 0.6;
}
